/**************************
    Site Wide
***************************/

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #333333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

p {
    margin: 0 0 10px 0;
}

h1, h2, h3, h4, h5 {
    font-family: $header-font;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    line-height: 36px;
}
h2,
h3 {
    font-weight: 700;
    font-size: 2em;
}

a:link,
a:visited,
a:hover,
a:active {
    color: $brand-yellow;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.img-responsive {
    max-width: 100%;
    display: block;
    width: 100%;
}

.content-img {
    margin: 36px 0;
}

/**************************
    Main Content
***************************/

.main-content {
    flex: 1 0 0;
    position: relative;
}

.container {
    position: relative;
    padding: 0;

    @media #{$screen-min-sm} {
        padding: 0;
        @include offset-1;
    }

    @media #{$screen-min-md} {
        @include offset-3;
    }

    .sub {
        text-align: center;
        font-weight: 300;
        font-family: $header-font;
        text-transform: uppercase;
        margin-bottom: 24px;
    }
}

.section {
    padding: 36px 24px;
    position: relative;

    h2, h3 {
        margin-bottom: 12px;
        line-height: 1.5;
    }
}

.grid {
    display: flex;
    flex-direction: column;

    @media #{$screen-min-sm} {
        flex-direction: row;
    }

    .three-columns-item {
        text-align: center;
        margin-bottom: 36px;

        @media #{$screen-min-sm} {
            width: 33.3333337%;
            padding: 15px 25px;
        }

        @media #{$screen-min-md} {
            padding: 15px 70px;
        }
    }
}

/**************************
    Internal
***************************/
.internal {

    &.main-content {
        margin: 15px;
    }

    .container {
        background-color: #ffffff;

        @media #{$screen-min-sm} {
            margin-left: 0;
        }

        @media #{$screen-min-md} {
            @include offset-1;
            padding: 0 20px 0 0;
            margin-bottom: 36px;
        }

        @media #{$screen-min-lg} {
            @include offset-2;
        }
    }

    .aside {
        @media #{$screen-min-md} {
            margin: 0 0 42px;
        }

        .offer {
            padding: 20px;
            background-color: #000000;
            color: #ffffff;

            .slogan {
                margin-bottom: 12px;
                font-family: $header-font;
                font-size: 2.5em;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 1;

                @media #{$screen-min-sm} {
                    font-size: 2em;
                }
            }
        }
    }

    .banner {
        margin: 0 0 24px;

        @media #{$screen-min-sm} {
            margin-top: 0;
        }

        @media #{$screen-min-md} {
            @include offset-1;
        }

        @media #{$screen-min-lg} {
            @include offset-2;
        }
    }
}
