.main-footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;

    @media #{$screen-min-sm} {
        padding: 30px;
    }

    .container {
        background-color: #000000;
    }

    .built-by,
    .copyright {
        font-family: $header-font;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        color: #333333;
        font-size: 0.8em;

        a:link,
        a:visited,
        a:hover,
        a:active {
            color: #333333;
        }
    }
}
