/**************************
    Zishiri Fitness Stylesheet
***************************/
.offers {
    background-color: #333333;
    color: #ffffff;

    .container {
        @media #{$screen-min-md} {
            @include offset-1;
        }

        .offers-container {
            h2 {
                margin-bottom: 12px;
            }

            .sub {
                padding: 0 15%;

                @media #{$screen-min-sm} {
                    margin-bottom: 42px;
                }
            }

            .offers-grid {
                .offers-item {
                    padding-top: 20px;

                    @media #{$screen-min-md} {
                        padding-left: 30px;
                        padding-right: 30px;
                    }

                    .offers-img-wrapper {
                        height: 59px;
                        margin: 0 auto 12px;

                        img {
                            width: auto;
                            height: 100%;
                            margin: 0 auto;
                            display: block;
                        }
                    }

                    p {
                        @media #{$screen-min-sm} {
                            font-size: 0.875em;
                        }
                    }

                    &:not(:last-child) {
                        @media #{$screen-min-sm} {
                            border-right: 1px solid #2e2e2e;
                        }
                    }

                    h4 {
                        font-weight: 300;
                        color: $brand-yellow;
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
}

.about {
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 12px;
    border-bottom: 1px solid #D3D3D3;

    @media #{$screen-min-sm} {
        margin: 0;
    }
}

.classes {
    .container {
        @media #{$screen-min-md} {
            @include offset-1;
        }
    }
    img {
        margin-bottom: 24px;
    }

    .classes-container {
        @media #{$screen-min-sm} {
            margin-left: 0;
        }

        .grid {
            flex-wrap: wrap;
            justify-content: space-between;

            .grid-item {
                &:not(:last-child) {
                    margin-bottom: 36px;

                    @media #{$screen-min-lg} {
                        margin-bottom: 54px;
                    }
                }

                @media #{$screen-min-sm} {
                    width: 49%;

                    &:nth-child(2n + 2) {
                        margin-right: 0;
                    }
                }

                @media #{$screen-min-lg} {
                    width: 32.3333333333%;
                    margin-bottom: 54px;
                }
            }
        }
    }

    .class-details {
        display: flex;
        flex-direction: column;

        h4 {
            font-weight: 600;
            margin-bottom: 12px;
            font-size: 1.3em;
        }

        p:last-child {
            display: inline-block;
            margin: 12px auto 0;
        }
    }
}

.contact {
    background-color: #000000;
    color: #ffffff;

    .container {
        @media #{$screen-min-md} {
            @include offset-1;
        }

        @media #{$screen-min-lg} {
            @include offset-2;
        }
    }

    .contact-container {
        margin-bottom: 36px;

        @media #{$screen-min-md} {
            margin-bottom: 0;
        }
    }
}

.social-media-container {
    ul {
        display: flex;
        justify-content: center;
        margin-bottom: 12px;

        li {
            width: 35px;
            height: 35px;
            display: block;

            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

/**************************
    Coming Soon
***************************/

.cs-hero {
    height: 100vh;
    background: #000000 url('/wp-content/uploads/2018/08/main-bg.jpg')  no-repeat center center;
    background-size: cover;

    @media #{$screen-min-md} {
        background-size: contain;
    }

    .main-content {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 20%;
        flex-direction: column;

        @media #{$screen-min-sm} {
            padding-top: 150px;
        }
    }

    .title {
        text-align: center;
        color: #ffffff;
        line-height: 1;

        .slogan {
            font-family: $header-font;
            text-transform: uppercase;
            font-size: 2.5em;
            font-weight: 900;

            @media #{$screen-min-sm} {
                font-size: 5.250em;
            }
        }

        h1 {
            font-weight: 300;
            font-size: 2em;
            text-transform: none;

            @media #{$screen-min-sm} {
                font-size: 3em;
            }

            span {
                color: $brand-yellow;
            }
        }
    }

    .social {
        margin-top: 10%;

        @media #{$screen-min-md} {
            margin-top: 30px;
        }

        li {
            line-height: 1;

            a {
                display: inline-block;
            }
        }
    }
}