/**************************
    Zishiri Fitness Stylesheet
***************************/
.offers {
    background-color: #333333;
    color: #ffffff;

    .container {
        @media #{$screen-min-md} {
            @include offset-1;
        }

        .offers-container {
            h2 {
                margin-bottom: 12px;
            }

            .sub {
                padding: 0 15%;

                @media #{$screen-min-sm} {
                    margin-bottom: 42px;
                }
            }

            .offers-grid {
                .offers-item {
                    padding-top: 70px;
                    // background: transparent url('../img/weights.svg') no-repeat center top;
                    // background-size: 60px;

                    @media #{$screen-min-md} {
                        padding-left: 30px;
                        padding-right: 30px;
                    }

                    .offers-img-wrapper {
                        height: 59px;
                        margin: 0 auto 12px;

                        img {
                            width: auto;
                            height: 100%;
                            margin: 0 auto;
                            display: block;
                        }
                    }

                    // &.free-session {
                    //     background-image: url('../img/weights.svg');
                    // }
                    //
                    // &.certification {
                    //     background-image: url('../img/certification.svg');
                    // }
                    //
                    // &.discount {
                    //     background-image: url('../img/discount.svg');
                    //     background-size: 33px;
                    // }

                    p {
                        @media #{$screen-min-sm} {
                            font-size: 0.875em;
                        }
                    }

                    &:not(:last-child) {
                        @media #{$screen-min-sm} {
                            border-right: 1px solid #2e2e2e;
                        }
                    }

                    h4 {
                        font-weight: 300;
                        color: $brand-yellow;
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
}

.about {
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 12px;
    border-bottom: 1px solid #D3D3D3;

    @media #{$screen-min-sm} {
        margin: 0;
    }
}

.classes {
    .container {
        @media #{$screen-min-md} {
            @include offset-1;
        }
    }
    img {
        margin-bottom: 24px;
    }

    .classes-grid {

    }

    .classes-container {
        @media #{$screen-min-sm} {
            margin-left: 0;
        }

        .grid {
            flex-wrap: wrap;
            justify-content: space-between;

            .grid-item {
                &:not(:last-child) {
                    margin-bottom: 36px;

                    @media #{$screen-min-lg} {
                        margin-bottom: 54px;
                    }
                }

                @media #{$screen-min-sm} {
                    width: 49%;

                    &:nth-child(2n + 2) {
                        margin-right: 0;
                    }
                }

                @media #{$screen-min-lg} {
                    width: 32.3333333333%;
                    margin-bottom: 54px;
                }
            }
        }
    }

    .class-details {
        h4 {
            font-weight: 400;
            margin-bottom: 12px;
        }

        .btn {
            margin: 24px auto 0;
            display: block;
        }
    }
}

.contact {
    background-color: #000000;
    color: #ffffff;

    .container {
        @media #{$screen-min-md} {
            @include offset-1;
        }

        @media #{$screen-min-lg} {
            @include offset-2;
        }
    }

    .contact-container {
        margin-bottom: 36px;
    }
}

.social-media-container {
    ul {
        display: flex;
        justify-content: center;
        margin-bottom: 12px;

        li {
            width: 35px;
            height: 35px;
            display: block;

            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}
