@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900");
@import url(../css/reset.css);
/* Offset */
/**
 * Gridpak Beta SCSS
 *
 * Generator - http://gridpak.com/
 * Created by @simplygoodwork
 */
/* Reusable column setup */
.col {
  border: 0px solid transparent;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important; }

/* 1. 6 Column Grid 0px - 779px
    -----------------------------------------------------------------------------

    Span 1:    16.6666666667%
    Span 2:    33.3333333333%
    Span 3:    50.0%
    Span 4:    66.6666666667%
    Span 5:    83.3333333333%
    Span 6:    100%

    ----------------------------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 767px) {
  .row {
    margin-left: -10px; }
  .col {
    border-left-width: 10px;
    padding: 0 0px; }
  /* --- Gridpak variables ---*/
  /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.

        .span_3,
        .my_semantic_class_name {
            ...
        }

        */
  .span_1 {
    width: 16.66667%;
    border-left-width: 10px;
    padding: 0 0px;
    margin-left: 0; }
  .span_2 {
    width: 33.33333%;
    border-left-width: 10px;
    padding: 0 0px;
    margin-left: 0; }
  .span_3 {
    width: 50%;
    border-left-width: 10px;
    padding: 0 0px;
    margin-left: 0; }
  .span_4 {
    width: 66.66667%;
    border-left-width: 10px;
    padding: 0 0px;
    margin-left: 0; }
  .span_5 {
    width: 83.33333%;
    border-left-width: 10px;
    padding: 0 0px;
    margin-left: 0; }
  .hero-header-container,
  .container,
  .logo-container,
  .social-media-container,
  .span_6 {
    margin-left: 0;
    width: 100%; } }

/* 2. 12 Column Grid 780px - 999px
    -----------------------------------------------------------------------------

    Span 1:    8.33333333333%
    Span 2:    16.6666666667%
    Span 3:    25.0%
    Span 4:    33.3333333333%
    Span 5:    41.6666666667%
    Span 6:    50.0%
    Span 7:    58.3333333333%
    Span 8:    66.6666666667%
    Span 9:    75.0%
    Span 10:    83.3333333333%
    Span 11:    91.6666666667%
    Span 12:    100%

    ----------------------------------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .row {
    margin-left: -15px; }
  .col {
    border-left-width: 15px;
    padding: 0 0px; }
  /* --- Gridpak variables ---*/
  .span_1 {
    width: 8.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_2 {
    width: 16.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_3 {
    width: 25%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .aside,
  .span_4 {
    width: 33.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_5 {
    width: 41.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .hero-header-container,
  .span_6 {
    width: 50%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_7 {
    width: 58.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .container,
  .span_8 {
    width: 66.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_9 {
    width: 75%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_10 {
    width: 83.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_11 {
    width: 91.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .offers .container,
  .classes .container,
  .logo-container,
  .span_12 {
    margin-left: 0;
    width: 100%; } }

/* 3. 12 Column Grid 1000px - 1359px
    -----------------------------------------------------------------------------

    Span 1:    8.33333333333%
    Span 2:    16.6666666667%
    Span 3:    25.0%
    Span 4:    33.3333333333%
    Span 5:    41.6666666667%
    Span 6:    50.0%
    Span 7:    58.3333333333%
    Span 8:    66.6666666667%
    Span 9:    75.0%
    Span 10:    83.3333333333%
    Span 11:    91.6666666667%
    Span 12:    100%

    ----------------------------------------------------------------------------- */
@media screen and (min-width: 992px) and (max-width: 1359px) {
  .row {
    margin-left: -15px; }
  .col {
    border-left-width: 15px;
    padding: 0 0px; }
  /* --- Gridpak variables ---*/
  .span_1 {
    width: 8.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_2 {
    width: 16.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_3 {
    width: 25%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .aside,
  .span_4 {
    width: 33.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .hero-header-container,
  .span_5 {
    width: 41.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .container,
  .span_6 {
    width: 50%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_7 {
    width: 58.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_8 {
    width: 66.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_9 {
    width: 75%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .offers .container,
  .contact .container,
  .classes .container,
  .banner,
  .title-container,
  .span_10 {
    width: 83.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_11 {
    width: 91.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .logo-container,
  .span_12 {
    margin-left: 0;
    width: 100%; } }

/* 4. 12 Column Grid 1360px - Infinity
    -----------------------------------------------------------------------------

    Span 1:    8.33333333333%
    Span 2:    16.6666666667%
    Span 3:    25.0%
    Span 4:    33.3333333333%
    Span 5:    41.6666666667%
    Span 6:    50.0%
    Span 7:    58.3333333333%
    Span 8:    66.6666666667%
    Span 9:    75.0%
    Span 10:    83.3333333333%
    Span 11:    91.6666666667%
    Span 12:    100%

    ----------------------------------------------------------------------------- */
@media screen and (min-width: 1360px) {
  .row {
    margin-left: -15px; }
  .col {
    border-left-width: 15px;
    padding: 0 0px; }
  /* --- Gridpak variables ---*/
  .span_1 {
    width: 8.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_2 {
    width: 16.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .title-container,
  .aside,
  .span_3 {
    width: 25%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .hero-header-container,
  .span_4 {
    width: 33.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .internal .container,
  .span_5 {
    width: 41.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .container,
  .span_6 {
    width: 50%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_7 {
    width: 58.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .contact .container,
  .internal .banner,
  .span_8 {
    width: 66.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_9 {
    width: 75%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .offers .container,
  .classes .container,
  .span_10 {
    width: 83.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_11 {
    width: 91.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .logo-container,
  .social-media-container,
  .span_12 {
    margin-left: 0;
    width: 100%; } }

/**************************
    Site Wide
***************************/
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #333333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative; }

p {
  margin: 0 0 10px 0; }

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }

h1 {
  font-size: 2.5em; }

h2 {
  line-height: 36px; }

h2,
h3 {
  font-weight: 700;
  font-size: 2em; }

a:link,
a:visited,
a:hover,
a:active {
  color: #FFBA00; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.img-responsive {
  max-width: 100%;
  display: block;
  width: 100%; }

.content-img {
  margin: 36px 0; }

/**************************
    Main Content
***************************/
.main-content {
  flex: 1 0 0;
  position: relative; }

.container {
  position: relative;
  padding: 0; }
  @media screen and (min-width: 768px) {
    .container {
      padding: 0;
      margin-left: 8.33333333333%; } }
  @media screen and (min-width: 1024px) {
    .container {
      margin-left: 25%; } }
  .container .sub {
    text-align: center;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin-bottom: 24px; }

.section {
  padding: 36px 24px;
  position: relative; }
  .section h2, .section h3 {
    margin-bottom: 12px;
    line-height: 1.5; }

.grid {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .grid {
      flex-direction: row; } }
  .grid .three-columns-item {
    text-align: center;
    margin-bottom: 36px; }
    @media screen and (min-width: 768px) {
      .grid .three-columns-item {
        width: 33.3333337%;
        padding: 15px 25px; } }
    @media screen and (min-width: 1024px) {
      .grid .three-columns-item {
        padding: 15px 70px; } }

/**************************
    Internal
***************************/
.internal.main-content {
  margin: 15px; }

.internal .container {
  background-color: #ffffff; }
  @media screen and (min-width: 768px) {
    .internal .container {
      margin-left: 0; } }
  @media screen and (min-width: 1024px) {
    .internal .container {
      margin-left: 8.33333333333%;
      padding: 0 20px 0 0;
      margin-bottom: 36px; } }
  @media screen and (min-width: 1320px) {
    .internal .container {
      margin-left: 16.6666666667%; } }

@media screen and (min-width: 1024px) {
  .internal .aside {
    margin: 0 0 42px; } }

.internal .aside .offer {
  padding: 20px;
  background-color: #000000;
  color: #ffffff; }
  .internal .aside .offer .slogan {
    margin-bottom: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1; }
    @media screen and (min-width: 768px) {
      .internal .aside .offer .slogan {
        font-size: 2em; } }

.internal .banner {
  margin: 0 0 24px; }
  @media screen and (min-width: 768px) {
    .internal .banner {
      margin-top: 0; } }
  @media screen and (min-width: 1024px) {
    .internal .banner {
      margin-left: 8.33333333333%; } }
  @media screen and (min-width: 1320px) {
    .internal .banner {
      margin-left: 16.6666666667%; } }

.btn:link,
.btn {
  background-color: #FFBA00;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1em;
  padding: 5px 7px;
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer; }

.main-header {
  background-color: #242424; }
  .main-header .logo-container {
    background-color: #000000;
    font-family: "Montserrat", sans-serif;
    color: #ffffff; }
    .main-header .logo-container h1 {
      font-weight: 300;
      line-height: 50px;
      font-size: 1.2em; }
      .main-header .logo-container h1 span {
        color: #FFBA00; }
  .main-header .title-container {
    padding: 20px 15px; }
    @media screen and (min-width: 1024px) {
      .main-header .title-container {
        margin-left: 8.33333333333%; } }
    @media screen and (min-width: 1320px) {
      .main-header .title-container {
        margin-left: 16.6666666667%; } }
    .main-header .title-container h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      line-height: 1;
      display: inline-block;
      text-align: left;
      color: #ffffff; }
      @media screen and (min-width: 1024px) {
        .main-header .title-container h2 {
          font-size: 3em; } }

.hero-header {
  height: 400px;
  background-color: #000000;
  color: #ffffff; }
  .hero-header .hero-header-container {
    height: 400px; }
    @media screen and (min-width: 768px) {
      .hero-header .hero-header-container {
        margin-left: 16.6666666667%; } }
    .hero-header .hero-header-container .hero-header-inner {
      height: 100%;
      display: flex;
      align-items: center; }
  .hero-header .hero-header-text {
    padding: 20px; }
    @media screen and (min-width: 768px) {
      .hero-header .hero-header-text {
        padding: 0; } }
    .hero-header .hero-header-text .slogan {
      font-family: "Montserrat", sans-serif;
      font-size: 4.25em;
      line-height: 0.8;
      font-weight: 900;
      text-transform: uppercase; }
      @media screen and (min-width: 768px) {
        .hero-header .hero-header-text .slogan {
          font-size: 5em;
          padding-bottom: 10px; } }
      @media screen and (min-width: 1024px) {
        .hero-header .hero-header-text .slogan {
          font-size: 5.25em; } }
      @media screen and (min-width: 1320px) {
        .hero-header .hero-header-text .slogan {
          padding-right: 50px;
          padding-bottom: 24px; } }
    .hero-header .hero-header-text .sub {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1.5em; }
      @media screen and (min-width: 768px) {
        .hero-header .hero-header-text .sub {
          font-size: 2.25em;
          margin-bottom: 12px; } }
      .hero-header .hero-header-text .sub span {
        color: #FFBA00; }

.main-footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px; }
  @media screen and (min-width: 768px) {
    .main-footer {
      padding: 30px; } }
  .main-footer .container {
    background-color: #000000; }
  .main-footer .built-by {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
    font-size: 0.8em; }
    .main-footer .built-by a:link,
    .main-footer .built-by a:visited,
    .main-footer .built-by a:hover,
    .main-footer .built-by a:active {
      color: #333333; }

.form .form-block {
  overflow: hidden; }

.form .form-input {
  width: 100%;
  margin-bottom: 7px;
  line-height: 1.3;
  font-size: 1.3em;
  padding: 5px; }
  .form .form-input.textarea {
    height: 200px;
    font-family: 'Arial', 'Helvetica', sans-serif; }

.form .btn.submit-button {
  float: right; }

@media screen and (min-width: 1024px) {
  .contact .form {
    display: flex;
    justify-content: space-between; } }

@media screen and (min-width: 1024px) {
  .contact .form-block-wrapper {
    width: 49%; } }

/**************************
    Zishiri Fitness Stylesheet
***************************/
.offers {
  background-color: #333333;
  color: #ffffff; }
  @media screen and (min-width: 1024px) {
    .offers .container {
      margin-left: 8.33333333333%; } }
  .offers .container .offers-container h2 {
    margin-bottom: 12px; }
  .offers .container .offers-container .sub {
    padding: 0 15%; }
    @media screen and (min-width: 768px) {
      .offers .container .offers-container .sub {
        margin-bottom: 42px; } }
  .offers .container .offers-container .offers-grid .offers-item {
    padding-top: 70px;
    background: transparent url("../img/weights.svg") no-repeat center top;
    background-size: 60px; }
    @media screen and (min-width: 1024px) {
      .offers .container .offers-container .offers-grid .offers-item {
        padding-left: 30px;
        padding-right: 30px; } }
    .offers .container .offers-container .offers-grid .offers-item.free-session {
      background-image: url("../img/weights.svg"); }
    .offers .container .offers-container .offers-grid .offers-item.certification {
      background-image: url("../img/certification.svg"); }
    .offers .container .offers-container .offers-grid .offers-item.discount {
      background-image: url("../img/discount.svg");
      background-size: 33px; }
    @media screen and (min-width: 768px) {
      .offers .container .offers-container .offers-grid .offers-item p {
        font-size: 0.875em; } }
    @media screen and (min-width: 768px) {
      .offers .container .offers-container .offers-grid .offers-item:not(:last-child) {
        border-right: 1px solid #2e2e2e; } }
    .offers .container .offers-container .offers-grid .offers-item h4 {
      font-weight: 300;
      color: #FFBA00;
      margin-bottom: 24px; }

.about {
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 12px;
  border-bottom: 1px solid #D3D3D3; }
  @media screen and (min-width: 768px) {
    .about {
      margin: 0; } }

@media screen and (min-width: 1024px) {
  .classes .container {
    margin-left: 8.33333333333%; } }

.classes img {
  margin-bottom: 24px; }

@media screen and (min-width: 768px) {
  .classes .classes-container {
    margin-left: 0; } }

.classes .classes-container .grid {
  flex-wrap: wrap;
  justify-content: space-between; }
  .classes .classes-container .grid .grid-item:not(:last-child) {
    margin-bottom: 36px; }
    @media screen and (min-width: 1320px) {
      .classes .classes-container .grid .grid-item:not(:last-child) {
        margin-bottom: 54px; } }
  @media screen and (min-width: 768px) {
    .classes .classes-container .grid .grid-item {
      width: 49%; }
      .classes .classes-container .grid .grid-item:nth-child(2n + 2) {
        margin-right: 0; } }
  @media screen and (min-width: 1320px) {
    .classes .classes-container .grid .grid-item {
      width: 32.3333333333%;
      margin-bottom: 54px; } }

.classes .class-details h4 {
  font-weight: 400;
  margin-bottom: 12px; }

.classes .class-details .btn {
  margin: 24px auto 0;
  display: block; }

.contact {
  background-color: #000000;
  color: #ffffff; }
  @media screen and (min-width: 1024px) {
    .contact .container {
      margin-left: 8.33333333333%; } }
  @media screen and (min-width: 1320px) {
    .contact .container {
      margin-left: 16.6666666667%; } }
  .contact .contact-container {
    margin-bottom: 36px; }

.social-media-container ul {
  display: flex;
  justify-content: center;
  margin-bottom: 12px; }
  .social-media-container ul li {
    width: 35px;
    height: 35px;
    display: block; }
    .social-media-container ul li:not(:last-child) {
      margin-right: 20px; }
