@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900");
/* Offset */
/**
 * Gridpak Beta SCSS
 *
 * Generator - http://gridpak.com/
 * Created by @simplygoodwork
 */
/* Reusable column setup */
.col {
  border: 0px solid transparent;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important; }

/* 1. 6 Column Grid 0px - 779px
    -----------------------------------------------------------------------------

    Span 1:    16.6666666667%
    Span 2:    33.3333333333%
    Span 3:    50.0%
    Span 4:    66.6666666667%
    Span 5:    83.3333333333%
    Span 6:    100%

    ----------------------------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 767px) {
  .row {
    margin-left: -10px; }
  .col {
    border-left-width: 10px;
    padding: 0 0px; }
  /* --- Gridpak variables ---*/
  /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.

        .span_3,
        .my_semantic_class_name {
            ...
        }

        */
  .span_1 {
    width: 16.66667%;
    border-left-width: 10px;
    padding: 0 0px;
    margin-left: 0; }
  .span_2 {
    width: 33.33333%;
    border-left-width: 10px;
    padding: 0 0px;
    margin-left: 0; }
  .span_3 {
    width: 50%;
    border-left-width: 10px;
    padding: 0 0px;
    margin-left: 0; }
  .span_4 {
    width: 66.66667%;
    border-left-width: 10px;
    padding: 0 0px;
    margin-left: 0; }
  .span_5 {
    width: 83.33333%;
    border-left-width: 10px;
    padding: 0 0px;
    margin-left: 0; }
  .hero-header-container,
  .container,
  .span_6 {
    margin-left: 0;
    width: 100%; } }

/* 2. 12 Column Grid 780px - 999px
    -----------------------------------------------------------------------------

    Span 1:    8.33333333333%
    Span 2:    16.6666666667%
    Span 3:    25.0%
    Span 4:    33.3333333333%
    Span 5:    41.6666666667%
    Span 6:    50.0%
    Span 7:    58.3333333333%
    Span 8:    66.6666666667%
    Span 9:    75.0%
    Span 10:    83.3333333333%
    Span 11:    91.6666666667%
    Span 12:    100%

    ----------------------------------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .row {
    margin-left: -15px; }
  .col {
    border-left-width: 15px;
    padding: 0 0px; }
  /* --- Gridpak variables ---*/
  .span_1 {
    width: 8.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_2 {
    width: 16.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_3 {
    width: 25%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_4 {
    width: 33.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_5 {
    width: 41.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .hero-header-container,
  .span_6 {
    width: 50%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_7 {
    width: 58.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .container,
  .span_8 {
    width: 66.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_9 {
    width: 75%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .offers .container,
  .span_10 {
    width: 83.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_11 {
    width: 91.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_12 {
    margin-left: 0;
    width: 100%; } }

/* 3. 12 Column Grid 1000px - 1359px
    -----------------------------------------------------------------------------

    Span 1:    8.33333333333%
    Span 2:    16.6666666667%
    Span 3:    25.0%
    Span 4:    33.3333333333%
    Span 5:    41.6666666667%
    Span 6:    50.0%
    Span 7:    58.3333333333%
    Span 8:    66.6666666667%
    Span 9:    75.0%
    Span 10:    83.3333333333%
    Span 11:    91.6666666667%
    Span 12:    100%

    ----------------------------------------------------------------------------- */
@media screen and (min-width: 992px) and (max-width: 1359px) {
  .row {
    margin-left: -15px; }
  .col {
    border-left-width: 15px;
    padding: 0 0px; }
  /* --- Gridpak variables ---*/
  .span_1 {
    width: 8.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_2 {
    width: 16.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_3 {
    width: 25%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_4 {
    width: 33.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .hero-header-container,
  .span_5 {
    width: 41.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_6 {
    width: 50%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_7 {
    width: 58.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .container,
  .span_8 {
    width: 66.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_9 {
    width: 75%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .offers .container,
  .span_10 {
    width: 83.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_11 {
    width: 91.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_12 {
    margin-left: 0;
    width: 100%; } }

/* 4. 12 Column Grid 1360px - Infinity
    -----------------------------------------------------------------------------

    Span 1:    8.33333333333%
    Span 2:    16.6666666667%
    Span 3:    25.0%
    Span 4:    33.3333333333%
    Span 5:    41.6666666667%
    Span 6:    50.0%
    Span 7:    58.3333333333%
    Span 8:    66.6666666667%
    Span 9:    75.0%
    Span 10:    83.3333333333%
    Span 11:    91.6666666667%
    Span 12:    100%

    ----------------------------------------------------------------------------- */
@media screen and (min-width: 1360px) {
  .row {
    margin-left: -15px; }
  .col {
    border-left-width: 15px;
    padding: 0 0px; }
  /* --- Gridpak variables ---*/
  .span_1 {
    width: 8.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_2 {
    width: 16.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_3 {
    width: 25%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .hero-header-container,
  .span_4 {
    width: 33.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_5 {
    width: 41.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_6 {
    width: 50%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_7 {
    width: 58.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .container,
  .span_8 {
    width: 66.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_9 {
    width: 75%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .offers .container,
  .span_10 {
    width: 83.33333%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_11 {
    width: 91.66667%;
    border-left-width: 15px;
    padding: 0 0px;
    margin-left: 0; }
  .span_12 {
    margin-left: 0;
    width: 100%; } }

/**************************
    Site Wide
***************************/
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #333333;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

p {
  margin: 0 0 10px 0; }

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }

h1 {
  font-size: 2.5em; }

h2 {
  line-height: 36px; }

h2,
h3 {
  font-weight: 700;
  font-size: 2em; }

a:link,
a:visited,
a:hover,
a:active {
  color: #FFBA00; }

.row:after {
  content: "";
  display: table;
  clear: both; }

/**************************
    Main Content
***************************/
.main-content {
  flex: 1 0 0; }

.container {
  padding: 0; }
  @media screen and (min-width: 768px) {
    .container {
      padding: 0;
      margin-left: 16.6666666667%; } }
  .container .sub {
    text-align: center;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin-bottom: 24px; }

.btn:link,
.btn {
  background-color: #FFBA00;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1em;
  padding: 5px 7px;
  display: inline-block;
  text-decoration: none; }

.hero-header {
  height: 400px;
  background-color: #000000;
  color: #ffffff; }
  .hero-header .hero-header-container {
    height: 400px; }
    @media screen and (min-width: 768px) {
      .hero-header .hero-header-container {
        margin-left: 16.6666666667%; } }
    .hero-header .hero-header-container .hero-header-inner {
      height: 100%;
      display: flex;
      align-items: center; }
  .hero-header .hero-header-text {
    padding: 20px; }
    @media screen and (min-width: 768px) {
      .hero-header .hero-header-text {
        padding: 0; } }
    .hero-header .hero-header-text .slogan {
      font-family: "Montserrat", sans-serif;
      font-size: 4.25em;
      line-height: 0.8;
      font-weight: 900;
      text-transform: uppercase; }
      @media screen and (min-width: 768px) {
        .hero-header .hero-header-text .slogan {
          font-size: 5em;
          padding-bottom: 10px; } }
      @media screen and (min-width: 1024px) {
        .hero-header .hero-header-text .slogan {
          font-size: 5.25em; } }
      @media screen and (min-width: 1320px) {
        .hero-header .hero-header-text .slogan {
          padding-right: 50px;
          padding-bottom: 24px; } }
    .hero-header .hero-header-text .sub {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1.5em; }
      @media screen and (min-width: 768px) {
        .hero-header .hero-header-text .sub {
          font-size: 2.25em;
          margin-bottom: 12px; } }
      .hero-header .hero-header-text .sub span {
        color: #FFBA00; }

.main-footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px; }
  @media screen and (min-width: 768px) {
    .main-footer {
      padding: 30px; } }

/**************************
    Zishiri Fitness Stylesheet
***************************/
.offers {
  background-color: #333333;
  padding: 36px 0;
  color: #ffffff; }
  @media screen and (min-width: 768px) {
    .offers .container {
      margin-left: 8.33333333333%; } }
  .offers .container .offers-container h2 {
    margin-bottom: 12px; }
  .offers .container .offers-container .sub {
    padding: 0 15%; }
  .offers .container .offers-container .offers-grid {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .offers .container .offers-container .offers-grid {
        flex-direction: row; } }
    .offers .container .offers-container .offers-grid .offers-item {
      text-align: center;
      margin-bottom: 24px; }
      @media screen and (min-width: 768px) {
        .offers .container .offers-container .offers-grid .offers-item {
          width: 33.3333337%;
          padding: 15px 25px; } }
      @media screen and (min-width: 1024px) {
        .offers .container .offers-container .offers-grid .offers-item {
          padding: 15px 70px; } }
      .offers .container .offers-container .offers-grid .offers-item p {
        padding: 0 20px; }
        @media screen and (min-width: 768px) {
          .offers .container .offers-container .offers-grid .offers-item p {
            font-size: 0.875em; } }
      @media screen and (min-width: 768px) {
        .offers .container .offers-container .offers-grid .offers-item:not(:last-child) {
          border-right: 1px solid #2e2e2e; } }
      .offers .container .offers-container .offers-grid .offers-item h4 {
        font-weight: 300;
        color: #FFBA00;
        margin-bottom: 24px; }
